@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.body{
    width: 100%;
    height: 100vh;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    padding: 1.5rem 7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

}
.nav .logo .h2{
    font-size: 1.8rem;
    font-weight: bold;
    color: #2a2a2a;
}
.nav .navigation ul {
    display: flex;
    flex-direction: row;
}
.nav .navigation ul li{
    list-style: none;
    padding: 0 1rem;
}
.nav .navigation ul li a{
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: #2a2a2a;
    transition: 0.3s ease;
}
.nav .navigation ul li a:hover{
    color: red;
}
.nav .navigation ul li a span{
    background-color: red;
    font-size: 15px;
    font-weight: 400;
    color: white;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
}
.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 7rem;
    padding-top: 2rem;
}
.banner::after{
    content: "";
    background-image: url(left.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 90px;
    width: 193px;
    height: 467px;
}
.banner::before{
    content: "";
    background-image: url(right.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 90px;
    width: 98px;
    height: 290px;
}
.banner .text h2{
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 4px;
    color: red;
    text-transform: uppercase;
}
.banner .text h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 65px;
    padding-bottom: 10px;
    letter-spacing: 3px;
    color: #2c2c2c;
}
.banner .text p{
    font-size: 0.9rem;
    line-height: 30px;
    padding-bottom: 12px;
    letter-spacing: 1px;
    color: #2a2a2a;
}
.banner .email{
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: skyblue;
    padding: 0 7px;
    width: 380px;
    height: 65px;
    border-radius: 30px;
}
.banner .email input{
    background: none;
    border: none;
    outline: none;
    font-size: 0.9rem;
    color: #fff;
    padding-left: 15px;

}
.banner .email input::placeholder{
    font-size: 0.9rem;
    color: white;
}
.banner .email button{
    background-color: white;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    color: red;
    padding: 14px 25px;
    border-radius: 25px;
    letter-spacing: 1px;
    cursor: pointer;
}

}
.banner .image{
    width: 45%;
}
.banner .image img{
    width: 100%;
}
